@font-face {
  font-family: 'icomoon';
  src: url('./../fonts/icons/icomoon.eot?k12wa9');
  src: url('./../fonts/icons/icomoon.eot?k12wa9#iefix') format('embedded-opentype'),
    url('./../fonts/icons/icomoon.ttf?k12wa9') format('truetype'),
    url('./../fonts/icons/icomoon.woff?k12wa9') format('woff'),
    url('./../fonts/icons/icomoon.svg?k12wa9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box-e:before {
  content: "\e900";
}
.icon-shipping-m:before {
  content: "\e901";
}
.icon-dots-three-horizontal:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-trash-o:before {
  content: "\e904";
}
.icon-cloud-add:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e907";
}
.icon-file:before {
  content: "\e908";
}
.icon-visibility:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-sun:before {
  content: "\e90b";
}
.icon-setting:before {
  content: "\e90c";
}
.icon-chart:before {
  content: "\e90d";
}
.icon-visibility1:before {
  content: "\e90e";
}
.icon-dark:before {
  content: "\e90f";
}
.icon-date:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e912";
}
.icon-plus1:before {
  content: "\e913";
}
.icon-arrow-up:before {
  content: "\e914";
}
.icon-arrow-down:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-alarm:before {
  content: "\e917";
}
.icon-filter-icon:before {
  content: "\e92c";
}
.icon-bag-f:before {
  content: "\e935";
}
.icon-check-1:before {
  content: "\e981";
}
.icon-close:before {
  content: "\e990";
}
.icon-eye-blocked:before {
  content: "\ea0f";
}
.icon-eye-blocked1:before {
  content: "\ea10";
}
.icon-info:before {
  content: "\ea4a";
}
.icon-cancel-circle:before {
  content: "\ea4b";
}
.icon-blocked:before {
  content: "\ea4c";
}
.icon-info1:before {
  content: "\ea4d";
}
.icon-close-c:before {
  content: "\ea4e";
}
.icon-blocked1:before {
  content: "\ea4f";
}
