<section class="grid grid-cols-7 w-full">
    <div class="col-span-7 lg:col-span-4 py-6 lg:py-0">

        <div class="max-w-[430px] mx-4 sm:m-auto border border-gray-200 lg:border-none p-5 lg:p-0 rounded-sm lg:rounded-none h-[calc(100vh-40px)] sm:h-auto">
            <!-- main-content -->
            <main class="h-full lg:h-screen flex flex-col justify-between">
                <div>
                    <!-- logo -->
                    <div class="mt-0 lg:mt-13">
                        <img src="assets/images/main-logo.png" class="m-auto lg:m-0" alt="">
                    </div>

                    <div class="px-4 lg:px-0 mt-10">

                        <!-- head -->
                        <div class="mb-4">
                            <h1 class="text-[26px] font-extrabold text-gray-900 mb-1 font-Omnes">
                                {{"auth.register.title"|transloco}}</h1>
                        </div>

                        <!-- alert -->
                        <ng-container *ngIf="errMsg">
                            <nus-alert [alertMsg]="errMsg"></nus-alert>
                        </ng-container>
                        <!-- sign-in form -->
                        <form class="space-y-3" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                            <div class="form-group">
                                <label for=""
                                    class="input-lable">{{"auth.register.form.labels.company_name"|transloco}}</label>
                                <input type="text"
                                    placeholder="{{'auth.register.form.placeholders.company_name' | transloco}}"
                                    class="custom-input" formControlName="storeName" [ngClass]="{
                                              'border-red-500': registerForm.controls['storeName'].invalid && registerForm.controls['storeName'].touched
                                    }">
                                <div *ngIf="(registerForm.controls['storeName'].errors)" class="invalid-feedback mt-2">
                                    <div *ngIf="registerForm.controls['storeName'].errors?.['required'] && registerForm.controls['storeName'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.company_required' | transloco}}</div>
                                    <div *ngIf="registerForm.controls['storeName'].errors?.['minlength'] && registerForm.controls['storeName'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.company_minlength' | transloco}}</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""
                                    class="input-lable">{{"auth.register.form.labels.website_link"|transloco}}</label>
                                <div class="relative">
                                    <input type="text"
                                        placeholder="{{'auth.register.form.placeholders.website_link' | transloco}}"
                                        [ngClass]="{
                                            'border-red-500':
                                             (registerForm.controls['url'].errors) && registerForm.controls['url'].touched
                                        }" class="custom-input" name="url" formControlName="url">
                                    <!-- domin -->
                                    <div class="absolute top-3 end-3 cursor-pointer bg-white">
                                        <span class="text-sm text-gray-600">Nasayan.com</span>
                                    </div>
                                </div>
                                <div *ngIf="(registerForm.controls['url'].errors)" class="invalid-feedback mt-2">
                                    <div *ngIf="registerForm.controls['url'].errors?.['required'] && registerForm.controls['url'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.url_required' | transloco}}</div>
                                    <div *ngIf="registerForm.controls['url'].errors?.['pattern'] && registerForm.controls['url'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.Expattern_password' | transloco}}</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""
                                    class="input-lable">{{"auth.common_fields.labels.email"|transloco}}</label>
                                <input type="email" name="email"
                                    placeholder="{{'auth.common_fields.placeholders.email' | transloco}}"
                                    class="custom-input invalid:border-red-500" name="email" formControlName="email"
                                    [ngClass]="{
                                        'border-red-500':(registerForm.controls['email'].errors  && registerForm.controls['email'].touched)}">
                                <div *ngIf="(registerForm.controls['email'].errors)" class="invalid-feedback mt-2">
                                    <div *ngIf="registerForm.controls['email'].errors?.['required'] && registerForm.controls['email'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.common_fields.messages.email_required' | transloco}}</div>
                                    <div *ngIf="registerForm.controls['email'].errors?.['email'] && registerForm.controls['email'].touched"
                                        class="text-dangerDark font-normal text-sm">username@el-nusyan.com</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""
                                    class="input-lable">{{"auth.register.form.labels.phone_number"|transloco}}</label>
                                <div class="relative">
                                    <input type="tel" name="tel"
                                        placeholder="{{'auth.register.form.placeholders.phone' | transloco}}"
                                        class="custom-input invalid:border-red-500 ltr:pl-28 rtl:pr-28 rtl:text-right" [ngClass]="{
                                            'border-red-500':
                                              (registerForm.controls['phoneNumber'].errors && registerForm.controls['phoneNumber'].touched)
                                        }" name="phoneNumber" formControlName="phoneNumber">
                                    <div class="absolute top-1 start-3 cursor-pointer min-w-24 cuntery-select w-[70px]">
                                        <ng-select [searchable]="false" class="" name="countryId"
                                            formControlName="countryId" (change)="onSelectCountryCode($event)">
                                            <ng-option *ngFor="let country of countriesData" [value]="country">
                                                <div
                                                    class="flex items-center gap-2 hover:bg-gray-100 py-3 option cursor-pointer">
                                                    <img alt="" height="20" width="20" class="rounded-sm"
                                                        src="../../../../assets/images/{{country.countryNameCode}}.png" />
                                                    <span class="text-sm">{{country.countryNameCode}}({{ country.countryPhoneCode
                                                        }})</span>
                                                </div>

                                            </ng-option>

                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="(registerForm.controls['phoneNumber'].errors && registerForm.controls['phoneNumber'].touched)"
                                    class="invalid-feedback mt-2">
                                    <div *ngIf="registerForm.controls['phoneNumber'].errors?.['required'] && registerForm.controls['phoneNumber'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.phone_required' | transloco}}</div>
                                    <div *ngIf="registerForm.controls['phoneNumber'].errors?.['maxlength'] && registerForm.controls['phoneNumber'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.PHONE_NUMBER_LEAST' | transloco}}</div>
                                    <div *ngIf="registerForm.controls['phoneNumber'].errors?.['minlength'] && registerForm.controls['phoneNumber'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.PHONE_NUMBER_LEAST' | transloco}}</div>
                                    <!-- {{'AUTH.MESSAGES.PHONE_NUMBER_LEAST' |translate: { number:
                                        regFormControl.phoneNumber.errors.maxlength.requiredLength} }} -->

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="login-password"
                                    class="input-lable">{{"auth.register.form.labels.password"|transloco}}</label>
                                <div class="relative">
                                    <input formControlName="password" aria-describedby="login-password" name="password"
                                        placeholder="{{'auth.register.form.placeholders.password' | transloco}}"
                                        class="custom-input pe-8" [type]="showPassword ? 'text' : 'password'" [ngClass]="{
                                            'border-red-500':
                                              (registerForm.controls['password'].errors && registerForm.controls['password'].touched)
                                        }">
                                    <!-- icon -->
                                    <div class="absolute top-4 right-3 cursor-pointer">
                                        <span class="icon text-gray-400" [ngClass]="{
                                            'icon-eye-blocked': showPassword,
                                            'icon-visibility': !showPassword
                                          }" (click)="togglePasswordTextType()"></span>
                                    </div>
                                </div>
                                <div *ngIf="(registerForm.controls['password'].errors)" class="invalid-feedback mt-2">
                                    <div *ngIf="registerForm.controls['password'].errors?.['required'] && registerForm.controls['password'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.password_required' | transloco}}
                                    </div>
                                    <div *ngIf="registerForm.controls['password'].errors?.['pattern'] && registerForm.controls['password'].touched"
                                        class="text-dangerDark font-normal text-sm">
                                        {{'auth.register.form.messages.password_pattern' | transloco}}
                                    </div>
                                </div>

                            </div>

                        

                            <div class="flex items-center justify-between">
                                <div>
                                    <input type="checkbox" class="border border-gray-200 focus:outline-none rounded-md">
                                    <label for="checkbox"
                                        class="text-sm text-gray-600 mx-2">{{"auth.register.term_condition_text"|transloco}}</label>

                                    <span
                                        class="text-sm text-primary-300">{{"auth.register.terms_conditions"|transloco}}</span>
                                </div>
                            </div>


                            <div>
                                <button title="btn" type="submit" class="custom-button mt-8"
                                    [disabled]="registerForm.invalid">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 ml-1">
                                        loading...</span>
                                    <span *ngIf="!loading">
                                        {{'auth.register.button'|transloco}}
                                    </span>
                                </button>
                                <div class="flex mt-4 text-sm space-x-2 rtl:space-x-reverse">
                                    <span class="text-gray-400">{{'auth.register.have_account'|transloco}}</span>
                                    <a [routerLink]="['/Auth/Sign-In']"
                                        class="text-primary-300">{{'auth.register.sign_In'|transloco}}</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- footer -->
                <div class="px-4 lg:px-0 pb-9 mt-10">
                    <span class="text-sm text-gray-500">© 2023 Alnasayan.</span>
                </div>
            </main>
        </div>

    </div>
    <div class="hidden lg:block col-span-7 lg:col-span-3 relative">
        <slider-auth></slider-auth>
    </div>
</section>