<div class="space-y-5">
    <div class="px-12 py-8 rounded-md bg-neutral-50">
        <div class="flex items-baseline gap-2 mb-6">
            <h3 class="mb-0 text-lg text-neutral-600">Product Options</h3>
        </div>
        <div class="space-y-5">
            <div>
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="checkbox"></div>
                    <span class="text-sm font-normal text-gray-400 ms-3 dark:text-gray-300">This
                        product has variant</span>
                </label>
            </div>
            <div>
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="checkbox"></div>
                    <span class="text-sm font-normal text-gray-400 ms-3 dark:text-gray-300">Choose a
                        Color</span>
                </label>
                <span class="block text-xs text-neutral-500">You can specify more than one
                    color</span>
            </div>
            <div class="w-6/12 form-group">
                <div>
                    <ng-select [multiple]="true" [closeOnSelect]="false" [searchable]="false"
                        bindLabel="name" placeholder="Select people" class="relative selectBox">
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                                <div class="w-4 h-4 bg-amber-200"></div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                                <div class="w-4 h-4 bg-amber-200"></div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                                <div class="w-4 h-4 bg-amber-200"></div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                                <div class="w-4 h-4 bg-amber-200"></div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                                <div class="w-4 h-4 bg-amber-200"></div>
                            </div>
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="w-6/12 border-t form-group border-neutral-200">
                <div class="my-3">
                    <label class="input-lable">Attributes</label>
                    <span class="block text-xs text-neutral-500">You can specify more than one
                        Attributes</span>
                </div>
                <div>
                    <ng-select [multiple]="true" [closeOnSelect]="false" [searchable]="false"
                        bindLabel="name" placeholder="Define attributes" class="relative selectBox">
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                            </div>
                        </ng-option>
                        <ng-option>
                            <div class="gap-3 flex_c_b">
                                <div>
                                    <div class="flex items-end">
                                        <input type="checkbox" class="checkbox_input"
                                            id="hs-default-checkbox">
                                        <label for="hs-default-checkbox"
                                            class="text-xs font-normal ms-3">Beige</label>
                                    </div>
                                </div>
                            </div>
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="w-6/12 border-t border-neutral-200">
                <div class="my-3">
                    <label class="input-lable">Choose a Size</label>
                    <span class="block text-xs text-neutral-500">You can select more than one
                        size</span>
                </div>
                <div class="space-x-3 flex_c">
                    <div class="checkbox_bg">
                        <input type="checkbox" class="checkbox_input" id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-xs font-normal">Small</label>
                    </div>
                    <div class="checkbox_bg">
                        <input type="checkbox" class="checkbox_input" id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-xs font-normal">Medium</label>
                    </div>
                    <div class="checkbox_bg">
                        <input type="checkbox" class="checkbox_input" id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-xs font-normal">Large</label>
                    </div>
                    <div class="checkbox_bg">
                        <input type="checkbox" class="checkbox_input" id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-xs font-normal">Extra
                            Large</label>
                    </div>
                    <div class="checkbox_bg">
                        <input type="checkbox" class="checkbox_input" id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-xs font-normal">XXL</label>
                    </div>
                </div>
            </div>
            <div class="w-6/12 border-t border-neutral-200">
                <div class="my-3">
                    <label class="input-lable">Choose style</label>
                    <span class="block text-xs text-neutral-500">You can select the clothing
                        style</span>
                </div>
                <div class="space-x-3 flex_c">
                    <div class="w-auto checkbox_bg">
                        <input type="checkbox" class="checkbox_input" id="hs-default-checkbox">
                        <label for="hs-default-checkbox"
                            class="text-xs font-normal w-fit">zipper</label>
                    </div>
                    <div class="checkbox_bg">
                        <input type="checkbox" class="checkbox_input" id="hs-default-checkbox">
                        <label for="hs-default-checkbox"
                            class="text-xs font-normal w-fit">buttons</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-12 py-8 rounded-md bg-neutral-50">
        <div class="overflow-x-auto">
            <section class="table w-full">
                <header class="table-row mb-2 table__header">
                    <div class="table__header__cell">
                        Variant
                    </div>
                    <div class="table__header__cell">
                        Variant Price
                    </div>
                    <div class="table__header__cell">
                        Wholesale Price
                    </div>
                    <div class="table__header__cell max-w-[200px] whitespace-pre-wrap">
                        Sku
                    </div>
                    <div class="table__header__cell">
                        Quantity
                    </div>
                    <div class="table__header__cell"></div>
                </header>
                <div class="table__content">
                    <div class="table__content__cell">
                        <div class="relative">
                            <div
                                class="bg-yellowLight/40 before:rounded-l-md py-3 px-5 rounded-md before:content-['']  before:bg-yellowLight 
                            before:w-3 before:h-full before:absolute before:start-0 before:top-0 before:overflow-hidden">
                                <span
                                    class="text-sm capitalize text-neutral-600">yellow-Small</span>
                            </div>
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Variant Price"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Wholesale Price"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Sku"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Quantity"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="text-center table__content__cell">
                        <button title="btn" type="button"
                            class="custom-button border-neutral-200 group min-w-7">
                            <span
                                class="text-base text-neutral-400 icon icon-trash-o group-hover:text-white"></span>
                        </button>
                    </div>
                </div>
                <div class="table__content">
                    <div class="table__content__cell">
                        <div class="relative">
                            <div
                                class="bg-greenLight/40 before:rounded-l-md py-3 px-5 rounded-md before:content-['']  before:bg-greenLight 
                            before:w-3 before:h-full before:absolute before:start-0 before:top-0 before:overflow-hidden">
                                <span
                                    class="text-sm capitalize text-neutral-600">yellow-Small</span>
                            </div>
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Variant Price"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Wholesale Price"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Sku"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Quantity"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="text-center table__content__cell">
                        <button title="btn" type="button"
                            class="custom-button border-neutral-200 group min-w-7">
                            <span
                                class="text-base text-neutral-400 icon icon-trash-o group-hover:text-white"></span>
                        </button>
                    </div>
                </div>
                <div class="table__content">
                    <div class="table__content__cell">
                        <div class="relative">
                            <div
                                class="bg-primary-100 before:rounded-l-md py-3 px-5 rounded-md before:content-['']  before:bg-primary-200 
                            before:w-3 before:h-full before:absolute before:start-0 before:top-0 before:overflow-hidden">
                                <span
                                    class="text-sm capitalize text-neutral-600">yellow-Small</span>
                            </div>
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Variant Price"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Wholesale Price"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Sku"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="table__content__cell">
                        <div class="flex-1 w-full form-group">
                            <input type="text" name="email" placeholder="Quantity"
                                class="bg-white custom-input">
                        </div>
                    </div>
                    <div class="text-center table__content__cell">
                        <button title="btn" type="button"
                            class="custom-button border-neutral-200 group min-w-7">
                            <span
                                class="text-base text-neutral-400 icon icon-trash-o group-hover:text-white"></span>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="flex justify-between mt-10 text-end">
        <button class="w-40 custom-button group" (click)="onPervious()">
            <span class="text-sm">Previous</span>
        </button>
        <button class="w-40 custom-button filled-button"  (click)="onNext()">
            <span class="text-sm">Next</span>
        </button>
    </div>
</div>