<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Main - products feed -->
    <main class="flex flex-col flex-auto">

        <!-- Title -->
        <h2 class="text-lg font-medium leading-none tracking-normal">{{'products.title' | transloco}}</h2>

        <!-- start breadcrumb -->
        <nav aria-label="breadcrumb" class="mt-2">
            <ol class="flex">
                <li><a href="#" class="after:content-['>'] after:mx-1 text-gray-600 hover:text-primary text-xs">
                    {{'home' | transloco}}
                </a>
                </li>
                <li><a href="#"
                        class="after:content-['>'] after:mx-1 text-gray-600 hover:text-primary text-xs">
                        {{'products' | transloco}}</a>
                </li>
                <li class="text-primary" aria-current="page">{{'products.title' | transloco}}</li>
            </ol>
        </nav>
        <!-- end breadcrumb -->

        <div class="flex items-center justify-between mt-4">
            <div class="relative px-0.5">
                <input type="text" class="w-64 ps-8 custom-input" placeholder="Search" [formControl]="searchControl">
                <!-- icon -->
                <div class="absolute cursor-pointer top-4 start-3">
                    <span class="text-gray-400 icon icon-search"></span>
                </div>
            </div>
            <div>
                <button [routerLink]="['/Products/List/New']" routerLinkActive="router-link-active"  type="button" class="custom-button filled-button">
                    <span class="text-xs icon icon-plus"></span>
                    <span class="text-sm">{{'products.EMPTY.ADD_PRODUCT' | transloco}}</span>
                </button>
            </div>
        </div>


        <ng-container *ngIf="(products$ | async) as products; else loading">
            <ng-container *ngIf="products.items.length; else noProducts">
                <div class="mt-8">
                          <app-table
                            [filter]="filterCriteria"
                            [columns]="columns"
                            [rows]="products"
                            (actionEmitter)="actionClicked($event)"
                            (setLimitEvent)="setLimit($event)"
                            (setPageEvent)="setPage($event)"
                          ></app-table>
                </div>
            </ng-container>
        </ng-container>
        <!-- Loading template -->
        <ng-template #loading>
            <div class="mt-8">
                Loading...
            </div>
        </ng-template>

        <!-- No products template -->
        <ng-template #noProducts>
            <div class="mt-8">
                <app-empty-state [emptyStateData]="emptyStateData"></app-empty-state>
            </div>
        </ng-template>

    </main>

</div>