    <div class="relative">
      <label for="" class="block text-base text-gray-900 mb-2 font-normal">Related
        SBS:</label>
      <select data-hs-select='{
"placeholder": "Select option...",
"toggleTag": "<button type=\"button\"></button>",
"toggleClasses": "custom-input",
"dropdownClasses": "dropdown-select",
"optionClasses": "options-select",
"optionTemplate": "<div class=\"flex_c_b w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"></span></div>"
}' class="hidden">
        <option value="">Choose</option>
        <option>Name</option>
        <option>Email address</option>
        <option>Description</option>
        <option>User ID</option>
      </select>

      <div class="arrow-select">
        <span class="arrow-icon"></span>
      </div>
    </div>