<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Main - Brands feed -->
    <main class="flex flex-col flex-auto">

        <!-- Title -->
        <h2 class="text-lg font-medium leading-none tracking-normal">{{'orders.view_order.breadcrumb.view_order' |
            transloco}}
        </h2>

        <!-- start breadcrumb -->
        <nav aria-label="breadcrumb" class="mt-2">
            <ol class="flex">
                <li><a href="#" class="after:content-['>'] after:mx-1 text-gray-600 hover:text-primary text-xs">
                        {{'home' | transloco}}
                    </a>
                </li>
                <li><a href="#" class="after:content-['>'] after:mx-1 text-gray-600 hover:text-primary text-xs">
                        {{'orders.list.breadcrumb.orders' | transloco}}
                    </a>
                </li>
                <li class="text-primary" aria-current="page"> {{'orders.view_order.breadcrumb.view_order' | transloco}}
                </li>
            </ol>
        </nav>
        <ng-container *ngIf="(orderDetails$ | async) as orderDetails; else loadingOrError">

            <header class="hidden mt-4 lg:block">
                <img src="assets/images/banner.jpg" class=" rounded-tl-xl rounded-tr-xl" width="100%" alt="">

            </header>

            <section class="z-10 mx-0 mt-0 lg:-mt-40 lg:mx-16">
                <nav class="flex space-x-2 rtl:space-x-reverse" aria-label="Tabs" role="tablist">
                    <button type="button"
                        class="inline-flex items-center px-1 py-4 text-sm text-blue-500 border-b-2 border-transparent hs-tab-active:font-semibold lg:hs-tab-active:border-white hs-tab-active:border-blue-500 lg:hs-tab-active:text-white gap-x-2 whitespace-nowrap lg:text-white focus:outline-none disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500 active"
                        id="tabs-with-underline-item-1" data-hs-tab="#tabs-with-underline-1"
                        aria-controls="tabs-with-underline-1" role="tab" (click)="toggleTabs(1)">
                        Order Details
                    </button>
                    <button type="button"
                        class="inline-flex items-center px-1 py-4 text-sm text-blue-500 border-b-2 border-transparent hs-tab-active:font-semibold lg:hs-tab-active:border-white hs-tab-active:border-blue-500 lg:hs-tab-active:text-white gap-x-2 whitespace-nowrap lg:text-white focus:outline-none disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500"
                        id="tabs-with-underline-item-2" data-hs-tab="#tabs-with-underline-2"
                        aria-controls="tabs-with-underline-2" role="tab" (click)="toggleTabs(2)">
                        Order History
                    </button>

                </nav>

                <div class="mt-3">
                    <div>

                        <div class="flex items-center justify-between px-5 py-2 mb-6 bg-white rounded-md shadow-lg">
                            <div class="flex items-center gap-4">
                                <div>
                                    <img src="assets/images/user.svg">
                                </div>
                                <div>
                                    <h3>{{orderDetails.customerData?.customerName}}</h3>
                                    <h3 class="text-xs text-gray-500">{{orderDetails.customerData?.customerEmail}}
                                    </h3>
                                    <h3 class="text-xs text-gray-500">{{orderDetails.customerData?.customerPhone}}
                                    </h3>
                                </div>
                            </div>
                            <div>
                                <img src="assets/images/users.png" width="150" class="hidden lg:block">
                            </div>
                        </div>
                        <div class="px-5 py-5 mb-6 bg-white border-2 rounded-md">
                            <h1 class="font-bold text-gray-700">{{"orders.view_order.tracking"|transloco}}</h1>
                            <div class="flex items-center justify-between gap-8 mt-4">
                                <div class="flex justify-between w-full pe-5">
                                    <h6 class="text-gray-900">{{"orders.view_order.tracking_number"|transloco}}</h6>

                                    <span
                                        class="text-sm font-normal text-gray-400 dark:text-gray-300">{{orderDetails.trackingNumber}}</span>
                                </div>

                                <div class="flex justify-between w-full ps-5">
                                    <h6 class="text-gray-900">{{"orders.view_order.status"|transloco}}</h6>
                                    <span class="data"> <span class="badge {{
                                    getStatus(orderDetails.statusName)?.class
                                  }}">
                                            {{
                                            "orders.view_order.StatusCode." + orderDetails.statusName
                                            | transloco
                                            }}
                                        </span></span>
                                </div>
                            </div>

                        </div>
                        <div class="flex gap-8">
                            <div class="w-full px-5 py-5 mb-6 bg-white border-2 rounded-md">
                                <h1 class="mb-2 text-base font-bold text-gray-700">
                                    {{"orders.view_order.tabs.order_details"|transloco}}</h1>
                                <div class="flex items-center justify-between mb-2">
                                    <h3>{{"orders.view_order.order_date"|transloco}}</h3>
                                    <span
                                        class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.orderDate|date:
                                        'dd/MM/yyyy hh:mm a'}}</span>
                                </div>
                                <div class="flex items-center justify-between mb-2">
                                    <h3>{{"orders.view_order.payment_method"|transloco}}</h3>
                                    <span
                                        class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.paymentType}}</span>
                                </div>
                                <div class="flex items-center justify-between">
                                    <h3>{{"orders.view_order.shipping_method"|transloco}}</h3>
                                    <span class="inline-flex text-sm font-normal text-gray-500 dark:text-gray-300"><img
                                            src="assets/images/visa.png"> &nbsp; {{orderDetails.shippingMethod}}</span>
                                </div>
                            </div>
                            <div class="w-full px-5 py-5 mb-6 bg-white border-2 rounded-md">
                                <h1 class="mb-2 text-base font-bold text-gray-700">
                                    {{"orders.view_order.documents"|transloco}}
                                </h1>
                                <div class="flex items-center justify-between mb-2">
                                    <h3>{{"orders.view_order.invoice_receipt"|transloco}}</h3>
                                    <span
                                        class="text-sm font-normal text-gray-500 dark:text-gray-300">#INV-00145522</span>
                                </div>
                                <div class="flex items-center justify-between mb-2">
                                    <h3>{{"orders.view_order.shipping"|transloco}}</h3>
                                    <span
                                        class="text-sm font-normal text-gray-500 dark:text-gray-300">#SHP-4488522</span>
                                </div>
                                <div class="flex items-center justify-between">
                                    <h3>{{"orders.view_order.rewards_points"|transloco}}</h3>
                                    <span class="text-sm font-normal text-gray-500 dark:text-gray-300">600</span>
                                </div>
                            </div>
                        </div>



                        <div class="w-full px-5 py-5 mb-6 bg-white border-2 rounded-md">
                            <h1 class="mb-2 text-base font-bold text-gray-700">
                                {{"orders.view_order.shipping_address"|transloco}}</h1>

                            <div class="flex gap-8 mb-6">
                                <div class="w-full mr-5 ">

                                    <div class="flex items-center justify-between mb-2">
                                        <h3>{{"orders.view_order.name"|transloco}}</h3>
                                        <span
                                            class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.customerData?.customerName}}</span>
                                    </div>
                                    <div class="flex items-center justify-between mb-2">
                                        <h3>{{"orders.view_order.phone"|transloco}}</h3>
                                        <span
                                            class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.customerData?.customerPhone}}</span>
                                    </div>
                                    <div class="flex items-center justify-between ">
                                        <h3>{{"orders.view_order.country"|transloco}}</h3>
                                        <span
                                            class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.shippingAddress?.countryName}}</span>
                                    </div>
                                </div>
                                <div class="border-2"></div>
                                <div class="w-full ml-5">
                                    <div class="flex items-center justify-between mb-2 ">
                                        <h3>{{"orders.view_order.street_address"|transloco}}</h3>
                                        <span
                                            class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.shippingAddress?.streetAddress}}</span>
                                    </div>
                                    <div class="flex items-center justify-between mb-2">
                                        <h3>{{"orders.view_order.city"|transloco}}</h3>
                                        <span
                                            class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.shippingAddress?.cityName}}</span>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <h3>{{"orders.view_order.building_number"|transloco}}</h3>
                                        <span
                                            class="text-sm font-normal text-gray-500 dark:text-gray-300">{{orderDetails.shippingAddress?.buildingNumber}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}" -->

                        <div class="w-full px-5 py-5 mb-6 bg-white border-2 rounded-md" *ngIf="orderDetails.shippingMethodId">
                            <h1 class="mb-2 text-base font-bold text-gray-700">Shipping Method</h1>
                            <div class="flex_c_b">
                                <div class="gap-3 flex_c">
                                    <div class="w-10 h-10 rounded-lg bg-primary-50 flex_c_c">
                                        <img *ngIf="orderDetails.shippingMethod === 'OTO'" src="../../../../assets/images/oto.png" alt="">
                                        <span *ngIf="orderDetails.shippingMethod === 'Manual'" class="text-3xl icon icon-shipping-m text-primary-300"></span>
                                    </div>
                                    <span>{{orderDetails.shippingMethod}} {{"orders.shipping"|transloco}}</span>
                                </div>
                                <div class="flex_c gap-7">
                                    <span class="text-sm">Date</span>
                                    <span class="text-sm">May 12, 2024</span>
                                </div>
                                <div>
                                    <!-- <button type="submit"
                                        class="flex items-center gap-2 px-5 py-1 mx-2 rounded-md bg-primary-300 min-w-32">
                                        <span class="text-white icon icon-date"></span>
                                        <span class="text-white block mt-0.5">
                                            Change
                                        </span>
                                    </button> -->
                                </div>
                            </div>
                        </div>

                        <div id="tabs-with-underline-1" role="tabpanel" aria-labelledby="tabs-with-underline-item-1">
                            <div class="w-full px-5 py-5 mb-6 bg-white border-2 rounded-md">
                                <app-table
                                    [rows]="{items:orderDetails.orderDetails,pageSize: 10, currentPage: 1, totalItems: 10, totalPages: 1}"
                                    [filter]="orderFilter" [columns]="columns"></app-table>
                            </div>
                            <div class="w-full px-5 py-5 mb-6 bg-white border-2 rounded-md">
                                <h1 class="mb-3 text-base font-bold text-gray-700">
                                    {{"orders.view_order.summary"|transloco}}</h1>
                                <div class="flex justify-between">
                                    <div class="w-2/5">
                                        <div class="flex items-center justify-between mb-3">
                                            <h3>{{"orders.view_order.sub_total"|transloco}}</h3>
                                            <span
                                                class="text-sm font-bold text-gray-900">{{orderDetails.subtotal}}</span>
                                        </div>
                                        <div class="flex items-center justify-between mb-3">
                                            <h3>{{"orders.view_order.discount"|transloco}}</h3>
                                            <span
                                                class="text-sm font-bold text-gray-900">{{orderDetails.discount}}</span>
                                        </div>
                                        <div class="flex items-center justify-between mb-5">
                                            <h3>{{"orders.view_order.tax"|transloco}}</h3>
                                            <span
                                                class="text-sm font-bold text-gray-900">{{orderDetails.taxRate}}</span>
                                        </div>
                                        <div class="flex items-center justify-between pt-5 border-t">
                                            <h3>{{"orders.view_order.total"|transloco}}</h3>
                                            <span class="text-lg font-bold text-gray-900">{{orderDetails.total}}</span>
                                        </div>
                                    </div>
                                    <div class="-mt-8">
                                        <img src="assets/images/summary.svg">
                                    </div>
                                </div>
                            </div>
                            <!-- *ngIf="!orderDetails.shippingMethodId && orderDetails.statusId == orderStatuses.Prepared"> -->
                            <div class="w-full px-5 py-5 mb-6 bg-white border-2 rounded-md"
                            *ngIf="!orderDetails.shippingMethodId && orderDetails.statusId == orderStatuses.Prepared">
                                <ng-container *ngIf="!shippingLoading">
                                    <ng-container *ngIf="(shippingMethods | async) as shippingMethods;">
                                        <div class="flex_c_b">
                                            <h1 class="mb-3 text-base font-bold text-gray-700">Shipping Method</h1>
                                            <!-- <button type="submit" class="flex items-center gap-2 px-5 py-1 mx-2 rounded-md bg-primary-300 min-w-32">
                                        <span class="text-white icon icon-box-e"></span>
                                        <span class="text-white block mt-0.5">
                                            Edit
                                        </span>
                                    </button> -->
                                        </div>
                                        <!-- <div class="gap-8 flex_c">
                                            <div class="text-center">
                                                <div class="w-24 h-24 mb-2 rounded-lg bg-primary-50 flex_c_c">
                                                    <img src="../../../../assets/images/oto.png" alt="">
                                                </div>
                                                <span class="text-sm font-meduim">OTO Shipping</span>
                                            </div>
                                            <div class="text-center">
                                                <div
                                                    class="w-24 h-24 mb-2 border rounded-lg bg-primary-50 flex_c_c border-primary-300">
                                                    <span class="text-5xl icon icon-shipping-m text-primary-300"></span>
                                                </div>
                                                <span class="text-sm font-meduim text-primary-300">OTO Shipping</span>
                                            </div>
                                        </div> -->
                                        <div class="gap-8 flex_c">
                                            <div class="text-center cursor-pointer"  *ngFor="let method of shippingMethods">
                                                <div class="w-24 h-24 mb-2 rounded-lg bg-primary-50 flex_c_c"
                                                [ngClass]="{ 'border border-primary-300': method.key === selectedShippingMethod }" (click)="selectShippingMethod(method)">
                                                    <img *ngIf="method.key === 'OTO'" src="../../../../assets/images/oto.png" alt="">
                                                    <span  *ngIf="method.key === 'Manual'" class="text-5xl icon icon-shipping-m text-primary-300"></span>
                                                </div>
                                                <span class="text-sm font-meduim">{{method.displayName}} {{"orders.shipping"|transloco}}</span>
                                            </div>
                                        </div>
                                        <div class="flex_c_e">
                                            <button type="submit" [disabled]="!selectedShippingMethod" (click)="onConfirmShipping()"
                                                class="px-5 py-1 mx-2 text-center rounded-md bg-primary-300 min-w-32">
                                                <span class="text-white block mt-0.5">
                                                    Save
                                                </span>
                                            </button>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <div class="loading text-end" *ngIf="shippingLoading">
                                    <span class="ml-1 mr-1 text-primary-300 spinner-border spinner-border-sm">
                                        loading...</span>
                                </div>

                            </div>


                            <div class="flex items-center justify-end mt-10" *ngIf="
                            [orderStatuses.Pending, orderStatuses.Revised].includes(orderDetails.statusId)">
                                <div class="end-btns">
                                    <button [disabled]="orderStatusLoading" type="submit" class="w-40 "
                                        data-hs-overlay="#hs-vertically-centered-modal" (click)="changeOrderReject(5)"
                                        *ngIf="orderDetails.statusId !== orderStatuses.Canceled">
                                        <span class="text-red-700">
                                            {{"orders.view_order.action_buttons.reject"|transloco}}
                                        </span>
                                    </button>
                                    <button type="submit" (click)="changeOrderStatus(orderDetails)"
                                        [disabled]="orderStatusLoading" class="px-5 py-2 rounded-md bg-primary-300"
                                        *ngIf="orderDetails.statusId === orderStatuses.Pending || orderDetails.statusId === orderStatuses.Revised">
                                        <span *ngIf="orderStatusLoading"
                                            class="ml-1 mr-1 text-white spinner-border spinner-border-sm">
                                            loading...</span>
                                        <span *ngIf="!orderStatusLoading" class="text-white">
                                            {{
                                            (orderDetails.statusId === orderStatuses.Pending ?
                                            'orders.view_order.action_buttons.make_revised' :
                                            'orders.view_order.action_buttons.make_prepared' )
                                            |transloco}}
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="flex items-center justify-end mt-10"
                                *ngIf="!orderDetails.shippingMethodId && orderDetails.statusId == orderStatuses.Prepared ">
                                <ng-container *ngIf="!shippingLoading">
                                    <div class="start-btns" *ngIf="(shippingMethods | async) as shippingMethods;">
                                        <button *ngFor="let method of shippingMethods" type="submit"
                                            class="px-5 py-2 mx-2 rounded-md bg-primary-300"
                                            (click)="onSelectShippingMethod(method)">
                                            <span class="text-white">
                                                {{method.displayName}} {{"orders.shipping"|transloco}}
                                            </span>
                                        </button>
                                    </div>
                                </ng-container>
                                <div class="loading" *ngIf="shippingLoading">
                                    <span class="ml-1 mr-1 text-primary-300 spinner-border spinner-border-sm">
                                        loading...</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div id="tabs-with-underline-2" class="hidden" role="tabpanel"
                        aria-labelledby="tabs-with-underline-item-2">
                        <!-- <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}"> -->


                        <div class="w-full px-5 py-5 bg-white border-2 rounded-md">
                            <app-table [columns]="orderHistoryColumn" [filter]="orderFilter"
                                [rows]="{items:orderDetails.orderHistories,pageSize: 10, currentPage: 1, totalItems: 10, totalPages: 1}"></app-table>
                            <!-- </div> -->
                        </div>
                    </div>

                </div>

            </section>




        </ng-container>

        <ng-template #loadingOrError>
            <div class="mt-8" *ngIf="!orderDetailsError">
                Loading...
            </div>

            <ng-container *ngIf="orderDetailsError">
                <div class="error-message">An error occurred while fetching order details.</div>
            </ng-container>
        </ng-template>
        <div id="hs-vertically-centered-modal"
            class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto ">
            <div
                class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
                <div
                    class="w-full flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                    <div class="flex items-center justify-between px-4 py-3 border-b dark:border-gray-700">

                        <button type="button"
                            class="flex items-center justify-center text-sm font-semibold text-gray-800 border border-transparent rounded-full size-7 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                            data-hs-overlay="#hs-vertically-centered-modal">
                            <span class="sr-only">Close</span>
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 6 6 18" />
                                <path d="m6 6 12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="p-4 overflow-y-auto">
                        <h1 class="text-lg font-medium text-gray-700">Rejected</h1>
                        <h1 class="mt-2">Reason For Rejection</h1>
                        <p class="mt-2 text-gray-800 dark:text-gray-400">
                            Please Tell Us Why You Are Canceling, Select More Than One Option If Needed
                        </p>
                        <div>
                            <div class="flex mt-6">
                                <input type="checkbox"
                                    class="shrink-0 mt-0.5 border-gray-400 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                                    id="hs-default-checkbox">
                                <label for="hs-default-checkbox"
                                    class="text-sm text-gray-500 ms-3 dark:text-gray-400">Lorem ipsum Is Simply
                                    Dummy.</label>
                            </div>
                            <div class="flex mt-2">
                                <input type="checkbox"
                                    class="shrink-0 mt-0.5 border-gray-400 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                                    id="hs-default-checkbox">
                                <label for="hs-default-checkbox"
                                    class="text-sm text-gray-500 ms-3 dark:text-gray-400">Lorem ipsum Is Simply
                                    Dummy.</label>
                            </div>
                            <div class="flex mt-2">
                                <input type="checkbox"
                                    class="shrink-0 mt-0.5 border-gray-400 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                                    id="hs-default-checkbox">
                                <label for="hs-default-checkbox"
                                    class="text-sm text-gray-500 ms-3 dark:text-gray-400">Lorem ipsum Is Simply
                                    Dummy.</label>
                            </div>
                        </div>
                        <div>
                            <p class="mt-8 mb-4 text-gray-800 dark:text-gray-400">
                                Is There Anything Else You Want To Write?
                            </p>
                            <textarea
                                class="block w-full px-4 py-3 text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                                rows="3"></textarea>

                        </div>
                    </div>
                    <div class="flex items-center justify-center px-4 py-3 border-t gap-x-2 dark:border-gray-700">

                        <button type="button"
                            class="inline-flex items-center px-3 py-2 text-sm font-semibold text-white bg-blue-600 border border-transparent rounded-lg cursor-pointer gap-x-2 hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                            Confirmation
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </main>
</div>

<div id="hs-vertically-centered-modal"
    class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto ">
    <div
        class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
        <div
            class="w-full flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
            <div class="flex items-center justify-between px-4 py-3 border-b dark:border-gray-700">

                <button type="button"
                    class="flex items-center justify-center text-sm font-semibold text-gray-800 border border-transparent rounded-full size-7 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    data-hs-overlay="#hs-vertically-centered-modal">
                    <span class="sr-only">Close</span>
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 6 6 18" />
                        <path d="m6 6 12 12" />
                    </svg>
                </button>
            </div>
            <div class="p-4 overflow-y-auto">
                <h1 class="text-lg font-medium text-gray-700">Rejected</h1>
                <h1 class="mt-2">Reason For Rejection</h1>
                <p class="mt-2 text-gray-800 dark:text-gray-400">
                    Please Tell Us Why You Are Canceling, Select More Than One Option If Needed
                </p>
                <div>
                    <div class="flex mt-6">
                        <input type="checkbox"
                            class="shrink-0 mt-0.5 border-gray-400 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                            id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Lorem
                            ipsum Is Simply
                            Dummy.</label>
                    </div>
                    <div class="flex mt-2">
                        <input type="checkbox"
                            class="shrink-0 mt-0.5 border-gray-400 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                            id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Lorem
                            ipsum Is Simply
                            Dummy.</label>
                    </div>
                    <div class="flex mt-2">
                        <input type="checkbox"
                            class="shrink-0 mt-0.5 border-gray-400 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                            id="hs-default-checkbox">
                        <label for="hs-default-checkbox" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Lorem
                            ipsum Is Simply
                            Dummy.</label>
                    </div>
                </div>
                <div>
                    <p class="mt-8 mb-4 text-gray-800 dark:text-gray-400">
                        Is There Anything Else You Want To Write?
                    </p>
                    <textarea
                        class="block w-full px-4 py-3 text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                        rows="3"></textarea>

                </div>
            </div>
            <div class="flex items-center justify-center px-4 py-3 border-t gap-x-2 dark:border-gray-700">

                <button type="button"
                    class="inline-flex items-center px-3 py-2 text-sm font-semibold text-white bg-blue-600 border border-transparent rounded-lg cursor-pointer gap-x-2 hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                    Confirmation
                </button>
            </div>
        </div>
    </div>
</div>

<modal-popup #popup [orderId]="orderId"></modal-popup>