<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Main - Categories -->
    <div class="flex flex-col flex-auto">

        <!-- Title -->
        <div class="text-lg font-medium tracking-normal leading-none">{{"categories.categories"|transloco}}</div>

        <!-- start breadcrumb -->
        <nav aria-label="breadcrumb" class="mt-2">
            <ol class="flex">
                <li><a href="#"
                        class="after:content-['>'] after:mx-1 text-gray-600 hover:text-primary text-xs">{{"home"|transloco}}</a>
                </li>
                <li><a href="#"
                        class="after:content-['>'] after:mx-1 text-gray-600 hover:text-primary text-xs">{{"categories.list.breadcrumb.categories"|transloco}}</a>
                </li>
                <li class="text-primary" aria-current="page">
                    <a href="#" class="text-gray-800 hover:text-primary text-xs">
                        {{"categories.categories"|transloco}}
                    </a>
                </li>
            </ol>
        </nav>

        <div class="flex items-center justify-between mt-4">
            <div class="relative px-0.5">
                <input [formControl]="searchControl" name="searchValue" type="search" class="custom-input ps-8 w-64"
                    placeholder="{{ 'categories.list.search' | transloco }}" />
                <!-- icon -->
                <div class="absolute top-4 left-3 cursor-pointer">
                    <span class="icon icon-search text-gray-400"></span>
                </div>
            </div>
            <div>
                <button [routerLink]="['/Products/Categories/New']" routerLinkActive="router-link-active" type="button"
                    class="custom-button filled-button">
                    <span class="icon icon-plus text-xs"></span>
                    <span class="text-sm"> {{"categories.list.add_category"|transloco }}</span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="(categories$ | async) as categories; else loading">
            <ng-container *ngIf="categories.items.length; else noCategories">
                <div class="mt-8">
                    <app-table [filter]="filterCriteria" [columns]="columns" [rows]="categories"
                        (setLimitEvent)="setLimit($event)"

                        (actionEmitter)="actionClicked($event)"
                        (setPageEvent)="setPage($event)"></app-table>
                </div>
            </ng-container>
        </ng-container>

        <ng-template #loading>
            <div class="mt-8" *ngIf="!categoriesError">
                Loading...
            </div>

            <ng-container *ngIf="categoriesError">
                <app-error-loading [error_msg]="error_msg"></app-error-loading>
            </ng-container>
        </ng-template>
        <ng-template #noCategories>
            <div class="mt-8">
                <app-empty-state [emptyStateData]="emptyStateData"></app-empty-state>
            </div>
        </ng-template>
    </div>
</div>